.product{
    background-color: aliceblue;
    margin-top: 60px;
    padding:50px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.item{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 28%;
    padding-bottom: 20px;
    /* margin-left: 20px; */
    margin-right: 20px;
    margin-bottom: 20px;
}

.card img{
    margin-bottom: 20px;
    height: 300px;
}

.card h2{
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(33, 192, 240);
    overflow: scroll;
    height: 26px;
}

.card input{
    margin-left: 20px;
    width: 80%;
}

.tombol{
    width: 100%;
    /* padding-left: 20px; */
    align-items: center;
}

.tombol a{
    color: whitesmoke;
    text-decoration: none;
}

.product h1{
    font-size: 24px;
    color: rgb(33, 192, 240);
}